%opensans-400 {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}
%opensans-700 {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}
%raleway-300 {
  font-family: 'Raleway-Light';
  font-weight: 300;
}
%raleway-400 {
  font-family: 'Raleway-Regular';
  font-weight: 400;
}
%raleway-700 {
  font-family: 'Raleway-Bold';
  font-weight: 700;
}
